doctype html
html
  head
    meta(charset="utf8")
    link(href="pizarra.css", rel="stylesheet", type="text/css")
    link(href="/unlogged/pizarra.png", rel="icon", type="image/png")
  body
    div#superior.
      algo
    div#lateral.
      izq
    div#central.
      más cosas
    script(src="pizarra.js")